@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --mzY1: #e69311;
    --mzY2: #f1bf36;
    --mzB1: #282828;
    --mzB2: black;
    font-family: 'Inter', serif;
}