<div class="mx-72">
    <div class="flex">
        <div class="h-[85vh] flex flex-1 flex-col justify-center">
            <h2 class="text-6xl font-bold text-mzB1">Transformamos tu idea en realidad.</h2>
            <p class="text-xl mt-3 mb-10">Desarrollo de software, páginas web y aplicaciones móviles con un diseño personalizado adaptado a las necesidades de tu negocio.</p>
            <a href="#" class="mz-btn-primary" style="width: 15rem;">Adquiere nuestros servicios</a>
        </div>
        <div class="h-[85vh] flex flex-1 items-center justify-end">
            <img ngSrc="../../../assets/external-assets/undraw_learning-sketchingsh.svg" width="600" height="600" alt="">
        </div>
    </div>
</div>

<div class="bg-mzY2 h-96">
    <div class="mx-72">
        <p class="text-6xl font-bold pt-20">Haz crecer tu negocio y ten presencia en internet.</p>
        <p class="text-2xl mt-10 font-semibold"> Con MisoCode, crea tu </p>
    </div>
</div>

<div class=" h-96">
    <div class="mx-72">
        <p class="text-6xl font-bold pt-20">Haz crecer tu negocio y ten presencia en internet.</p>
        <p>Con MisoCode</p>
    </div>
</div>