<nav class="mx-72">
    <div class="flex">
        <div class="flex flex-1 items-center pt-10 cursor-pointer">
            <img ngSrc="../../../../../assets/mz-assets/miso_500x500.png" width="60" height="60" alt="">
            <p class="text-3xl font-semibold text-mzB1 ml-3">Comycode</p>
        </div>

        <div class="flex flex-1 items-center justify-end pt-10">
            <div class="w-[100%] flex items-center justify-around">
                <a href="#">
                    Proyectos
                </a>
                <a href="#">
                    Cotizar
                </a>
                <a href="#">
                    Nosotros
                </a>
                <a href="#" class="mz-btn-primary">
                    Cotizar
                </a>
            </div>
        </div>
    </div>
</nav>